.Exam {
	background: rgb(0, 2, 9);
	background: linear-gradient(
		90deg,
		rgba(0, 2, 9, 1) 36%,
		rgba(93, 100, 113, 1) 100%
	);
	padding-bottom: 5%;
}
.Exam .Container {
	display: flex;
}
.Exam .Container .Text {
	width: 45%;
	margin-left: 3%;
}
.Exam .Container .Text h2 {
	font-weight: 900;
}
.Exam .Container .ExamPhoto {
	width: 50%;
	display: flex;
	justify-content: center;
	align-items: center;
}

.Exam .Container .ExamPhoto .exam {
	width: 90%;
	max-width: 500px;
	border-radius: 10%;
}
@media (max-width: 500px) {
	.Exam .Container {
		flex-direction: column;
		align-items: center;
	}
	.Exam .Container .Text {
		width: 80%;
	}
	.Exam .Container .ExamPhoto {
		width: 70%;
	}
}
